body{
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}

header a{
    text-decoration: none;
    color:white;
}

nav a{
    text-decoration: none;
    color:white;
}

header{
    background-color: #16b9f8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}

header .comunidad{
    margin:5px;
    display: flex;
    gap: 5px;
}

header .redes{
    margin: 5px;
    display: flex;
    gap: 5px;
}

.banner .opciones-menu{
    display: none;
}

nav{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flyer-conteiner{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside{
    display: flex;
    flex-direction: column;
}

aside h2{
    margin: 0;
}

aside div{
    display: inline;
    text-align: center;
    margin: 10px;
}

.ver-mas{
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(235, 235, 235);
    padding: 5px;
}

.logo-anchor{
    height: 50px;
}

.link-buttom{
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 3px;
    padding: 4px;
}

.link-azul{
    color: blue;
}

main{
    margin: 20px;
}

hr{
    border: 0.1px solid rgb(154, 154, 154);
    width: 100%;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a{
    color: white;
}

@media(min-width:610px){
    .banner .opciones-menu{
        width: auto;
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    .banner .opciones-menu a{
        padding: 2px;

    }
}

@media(min-width:940px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    article{
        width: 60%;
    }
    aside{
        width: 40%;
    }
}